serve/demo.html
serve/vue-pf_modeler.common.js
serve/vue-pf_modeler.common.js.map
serve/vue-pf_modeler.umd.js
serve/vue-pf_modeler.umd.js.map
# serve/vue-pf_modeler.umd.min.js
# serve/vue-pf_modeler.css
serve/vue-pf_modeler.umd.min.js.map