<div class="d-flex flex-column fill-height" style="min-height: 0;">
  <div class="flex-grow-0 mx-4 mt-4">
    <v-text-field
      label="Search"
      prepend-inner-icon="mdi-magnify"
      v-model="searchQuery"
    >
    </v-text-field>
  </div>
  <!--
    Flexbox sets min-height to auto.
    This was making the flex-item bigger than parent.
    `min-height:0` fixes this.
    (from https://stackoverflow.com/questions/34144972)
  -->
  <div class="d-flex flex-grow-1 pb-2" style="min-height:0;">
    <v-col
      cols="12"
      sm="3"
      style="border-right: 1px solid grey; height: calc(100vh - 150px); overflow: auto;"
    >
      <v-list>
        <v-list-item
          v-for="id in simputIds"
          v-if="searchMatch(id)"
          class="text-caption"
          dense
        >
          <SimputItem :itemId="id" no-ui="true" #properties="{key}">
            <v-subtitle>{{key}}</v-subtitle>
          </SimputItem>
        </v-list-item>
      </v-list>
    </v-col>
    <!-- FIXME height doesn't react to toolbar height-->
    <v-col
      cols="12"
      sm="9"
      style="height: calc(100vh - 150px); overflow: auto;"
    >
      <v-container>
        <SimputItem
          :itemId="id"
          no-ui="true"
          #properties="properties"
          style="width: 100%"
          v-for="id in simputIds"
          v-if="searchMatch(id)"
        >
          <SearchItem />
        </SimputItem>
      </v-container>
    </v-col>
  </div>
</div>
